{% extends "myapp/base.html" %}
{% block content %}
<h1>Trying to fit my shoes in this vast field of Entrepreneurship, Along with enhancing my skills in both Data-Science and machine learning.</h1>
I have some good experience with projects using RASA and/or Django framework.
<h1><a href="https://www.linkedin.com/in/sourav-jha-318389191/">Linkedin</a></h1>
<h1><a href="https://twitter.com/souravjha_">Twitter</a></h1>
<h1><a href="https://www.instagram.com/souravjha_/">Instagram</a></h1>
<h1><a href="@tosendsourav@gmail.com">Mail</a></h1> 
{% endblock content %}
